<!DOCTYPE html>
<html>
<head>
    <title>Simple Login</title>
</head>
<body>
    <h2>Login Form</h2>
    
    <form action="#" method="post">
      {% csrf_token %} 
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Login">
    </form>

    <p>Forgot password? <a href="#">Click here</a></p>
    <p>Don't have an account? <a href="#">Sign up</a></p>
</body>
</html>